<!DOCTYPE html>
<html>
  <head>
    <title>SyntacticalAstronaut</title>
    <%= favicon_link_tag asset_path('craiyon_astronaut_computer.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="position-absolute top-50 start-50 translate-middle">   
      <%= yield %>
    </div>
  </body>
</html>
